body {
    /* feel free to update these css variables for a quick theme */
    @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');
    
    --uranian-blue: hsla(208, 88%, 84%, 1);
    --brown: hsla(32, 16%, 48%, 1);
    --queen-blue: hsla(207, 41%, 42%, 1);
    --baby-blue-eyes: hsla(209, 96%, 78%, 1);
    --bistre: hsla(21, 34%, 18%, 1);
    --blue-jeans: hsla(209, 87%, 65%, 1);
    --raw-umber: hsla(32, 28%, 38%, 1);
    --tan: hsla(35, 38%, 69%, 1);
    --french-sky-blue: hsla(210, 91%, 73%, 1);
    --black-coffee: hsla(349, 10%, 21%, 1);
    
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
        
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 48px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Work Sans', sans-serif;
    background-color: var(--brown);
    /* display: flex;
    flex-direction: column; */
}



ol, ul {
	list-style: none;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--black-coffee);
    position: fixed;
    top: 0;
    width: 100%;
}

.nav li {
    float: left;
    border-bottom: 1px solid var(--black-coffee);
}

.nav a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: var(--black-coffee);
}

.active {
    background-color: var(--queen-blue);
}



header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--queen-blue);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: 'Work Sans';
	vertical-align: baseline;
}

header img {
    height: var(--header-height);
}


.gutter-right {
    margin-right: 20px;
}

.landscapes img {
    width: 350px;
    min-width: 350px;
    display: inline-flex;
    flex-direction: row;
}

.landscapes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landscapes ul {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.landscapes li {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    margin: 10px;
}